@import "../../styles/scss/Master";

.header {
  height: 10vh;
  background: $colour-black;
  z-index: 1001;
  display: flex;
  align-items: center;

  &__nav {
    width: 275px;
    margin: 0 auto;

    @include tablet {
      width: 400px;
    }

    @include laptop {
      width: 600px;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px;
    position: relative;
    overflow: hidden;

    &-item {
      color: $colour-white;
      font-family: $font-stack;
      font-weight: 800;
      margin: 0;
      font-size: 11px;

      @include tablet {
        font-size: 14px;
      }

      @include laptop {
        font-size: 18px;
      }

      &:before {
        display: block;
        content: '';
        right: 0;
        width: 0%;
        background: #ffffff;
        height: 4px;
      }

      &:after {
        display: block;
        content: '';
        right: 0;
        width: 0%;
        background: #ffffff;
        height: 4px;
      }

      &:hover:before {
        width: 100%;
        transition: all .8s ease-out;
      }
      &:hover:after {
        width: 100%;
        transition: all .8s ease-out;
      }

      &:hover {
        cursor: pointer;
        transition: .3s;
      }
    }
  }
}