
.skillsContainer {
  padding: 24px 0 16px;
  background: #ffffff;



  &__header {
    font-size: 2rem;
    color: black;
    padding: 0 16px 16px;


  }

  &__icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-items: center;
    color: antiquewhite;
    width: 288px;
    margin: 0 auto;



    &--img{
      height: 70px;
      width: 70px;
      padding: 5px;

    }
  }
}